.btn {
  padding: 2rem 4rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  &--submit {
    background-color: #d07c7c;
  }
}
