.social {
  width: 100%;
  height: 43rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media-to($tablet-bp) {
    height: 35rem;
  }
  &__icons {
    display: flex;
    font-size: 8rem;
    width: 50%;
    justify-content: space-around;
    padding-top: 4rem;
    @include media-to($tablet-bp) {
      width: 80%;
    }
    @include media-to($phone-bp) {
      font-size: 14rem;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #595959;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      transition: all 0.3s;
      &:hover {
        background-color: #e6b5b5;
        color: #fff;
      }
    }
  }
}
